:root {
    --color1st: #D5ECF4;
    --color2nd: #E5EFD8;
    --color3rd: #EBEBEB;
    --color4th: #F4C5C3;
    --color5th: #E5EFD8;
    --color6th: #E5EFD8;
    --color7th: #D5ECF4;
    --color8th: #FCF8C0;
}

ul {
    list-style: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.headerGrid {
    display: grid;
    grid-template-columns: 25% 75%
}

.headerGrid .headerGridItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header {
    margin-top: 50px;
    margin-bottom: 80px;
}

.header h1 {
    font-size: 60px;
    margin-top: 0;
}

.header .header__column {
    display: flex;
    justify-content: space-around;
}

.header__nav span {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    color: rgb(0, 0, 0, 0.4);
}

.header__nav li {
    margin-bottom: 5px;
}

.header__nav li:last-child {
    margin-bottom: 0;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vh;
    grid-gap: 10px;
}

.mainGrid .grid__item {
    background-size: cover;
    background-position: center center;
}

.mainGrid .grid__item:first-child {
    grid-row: span 2;
    background: var(--color1st);
}

.mainGrid .grid__item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url("https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80");
}

.mainGrid .grid__item:nth-child(3) {
    background: var(--color2nd);
}

.mainGrid .grid__item:nth-child(4) {
    grid-row: span 2;
    background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.mainGrid .grid__item:nth-child(5) {
    background-color: var(--color3rd);
}

.mainGrid .grid__item:nth-child(6) {
    background-color: var(--color4th);
}

.mainGrid .grid__item:nth-child(7) {
    background-color: var(--color5th);
}

.mainGrid .grid__item:nth-child(8) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: var(--color6th);
}

.mainGrid .grid__item:nth-child(9) {
    grid-row: span 2;
    background-image: url("https://images.unsplash.com/photo-1499933374294-4584851497cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.mainGrid .grid__item:nth-child(10) {
    grid-row: span 2;
    grid-column: span 2;
    background-image: url("https://images.unsplash.com/photo-1498409505433-aff66f7ba9e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.mainGrid .grid__item:nth-child(11) {
    background-color: var(--color7th);
}

.mainGrid .grid__item:nth-child(12) {
    background-color: var(--color8th);
}

.mainGrid .grid__item:nth-child(13) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: var(--color4th);
}

.mainGrid .grid__item:nth-child(14) {
    background-image: url("https://images.unsplash.com/photo-1554104707-a76b270e4bbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.mainGrid .grid__item:nth-child(15) {
    background-color: var(--color2nd);
}