:root {
    --paddingLeft: 20px;
    --borderTop: 1px solid rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafc;
}

.header {
    margin-top: 80px;
    margin-bottom: 45px;
    padding-left: var(--paddingLeft);
}

.navigation {
    padding: 0 var(--paddingLeft);
}

.navigation .navigation__icon {
    grid-auto-rows: 50px;
}

.navigation .navigation__icon:hover .item__icon {
    opacity: 0.5;
}

.navigation .navigation__icon:hover .item__icon:hover {
    opacity: 1;
}

.navigation .navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 40px;
    text-align: center;
}

.navigation__list .navigation__item {
    display: grid;
    grid-gap: 10px;
}

.navigation__item .item__icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.navigation__item .item__icon:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.44);
    opacity: 1;
}

.item__icon .item__emoji {
    font-size: 25px;
}

.navigation__item .item__text {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.featured {
    padding-left: var(--paddingLeft);
    padding-top: 85px;
    border-top: var(--borderTop);
    margin-top: 20px;
}

.featured .featured__title {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.featured .featured__wrapper {
    display: grid;
    grid-auto-columns: minmax(200px, 1fr);
    grid-auto-flow: column;
    overflow: scroll;
    grid-gap: 25px;
}

.featured-meal {
    height: 150px;
    background-color: aquamarine;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: space-between;
}

.featured-meal:first-child {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.featured-meal:nth-child(2) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/564x/14/48/c4/1448c47d11c3254aa3a1a31623394082.jpg");
}

.featured-meal:nth-child(3) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/564x/6e/6e/6d/6e6e6d1748f612df019734938e6cae05.jpg");
}

.featured-meal:nth-child(4) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/564x/f3/77/15/f37715b0c44eda2f0530f5fb7d16ff99.jpg");
}

.feature-meal__button {
    background-color: white;
    margin: 0;
    padding: 0;
}

.recipes {
    margin-top: 25px;
    padding-top: 25px;
    border-top: var(--borderTop);

}

.recipe__list {
    list-style: none;
    margin: 0;
    padding: 0 var(--paddingLeft);
}

.recipe__list .recipe {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 10px;
    padding: 5px 0 15px;
    border-bottom: var(--borderTop);
}